@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light:root {
    --color-primary: 106, 27, 243;
    --color-primary-variant: 70, 9, 174;
    --color-primary-on: 249, 250, 251;
    --color-secondary: 17, 100, 232;
    --color-secondary-variant: 9, 73, 174;
    --color-secondary-on: 249, 250, 251;
    --color-background: 244, 244, 246;
    --color-background-variant: 209, 213, 219;
    --color-background-on: 15, 23, 42;
    --color-faded: 71, 85, 105;
    --color-faded-variant: 100, 116, 139;
  }

  .dark:root {
    --color-primary: 131, 71, 235;
    --color-primary-variant: 122, 52, 244;
    --color-primary-on: 249, 250, 251;
    --color-secondary: 28, 106, 232;
    --color-secondary-variant: 26, 99, 217;
    --color-secondary-on: 249, 250, 251;
    --color-background: 15, 23, 42;
    --color-background-variant: 18, 28, 51;
    --color-background-on: 244, 244, 246;
    --color-faded: 148, 163, 184;
    --color-faded-variant: 100, 116, 139;
  }

  .light__invisible {
    visibility: hidden;
  }

  .dark .light__invisible {
    visibility: unset;
  }

  .dark__invisible {
    visibility: unset;
  }

  .dark .dark__invisible {
    visibility: hidden;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 131, 71, 235;
      --color-primary-variant: 122, 52, 244;
      --color-primary-on: 249, 250, 251;
      --color-secondary: 28, 106, 232;
      --color-secondary-variant: 26, 99, 217;
      --color-secondary-on: 249, 250, 251;
      --color-background: 15, 23, 42;
      --color-background-variant: 18, 28, 51;
      --color-background-on: 244, 244, 246;
      --color-faded: 148, 163, 184;
      --color-faded-variant: 100, 116, 139;
    }

    .light__invisible {
      visibility: unset;
    }

    .light .light__invisible {
      visibility: hidden;
    }

    .dark__invisible {
      visibility: hidden;
    }

    .light .dark__invisible {
      visibility: unset;
    }
  }
}
/*
.text-gradient {
  background-color: var(--color-primary);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

@layer utilites {
}
