@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .light:root {
    --color-primary: 106, 27, 243;
    --color-primary-variant: 70, 9, 174;
    --color-primary-on: 249, 250, 251;
    --color-secondary: 17, 100, 232;
    --color-secondary-variant: 9, 73, 174;
    --color-secondary-on: 249, 250, 251;
    --color-background: 244, 244, 246;
    --color-background-variant: 209, 213, 219;
    --color-background-on: 24, 28, 37;
    --color-surface: 255, 255, 255;
    --color-surface-on: 24, 28, 37;
    --color-faded: 71, 85, 105;
    --color-faded-variant: 100, 116, 139;
    --color-sigmate: 234, 245, 255;
    --color-poolink: 61, 128, 245;
    --rgb-primary: rgb(var(--color-primary));
    --rgb-background-on: rgb(var(--color-background-on));
    --rgb-faded: rgb(var(--color-faded));
    --rgb-surface: rgb(var(--color-surface));
    --rgb-surface-on: rgb(var(--color-surface-on));
  }

  .dark:root {
    --color-primary: 150, 101, 236;
    --color-primary-variant: 122, 52, 244;
    --color-primary-on: 249, 250, 251;
    --color-secondary: 42, 113, 229;
    --color-secondary-variant: 26, 99, 217;
    --color-secondary-on: 249, 250, 251;
    --color-background: 15, 23, 42;
    --color-background-variant: 18, 28, 51;
    --color-background-on: 227, 227, 232;
    --color-surface: 34, 43, 63;
    --color-surface-on: 227, 227, 232;
    --color-faded: 148, 163, 184;
    --color-faded-variant: 100, 116, 139;
    --color-sigmate: 0, 40, 77;
  }

  .light__invisible {
    visibility: hidden;
  }

  .dark .light__invisible {
    visibility: unset;
  }

  .dark__invisible {
    visibility: unset;
  }

  .dark .dark__invisible {
    visibility: hidden;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: 150, 101, 236;
      --color-primary-variant: 122, 52, 244;
      --color-primary-on: 249, 250, 251;
      --color-secondary: 42, 113, 229;
      --color-secondary-variant: 26, 99, 217;
      --color-secondary-on: 249, 250, 251;
      --color-background: 15, 23, 42;
      --color-background-variant: 18, 28, 51;
      --color-background-on: 227, 227, 232;
      --color-surface: 34, 43, 63;
      --color-surface-on: 227, 227, 232;
      --color-faded: 148, 163, 184;
      --color-faded-variant: 100, 116, 139;
      --color-sigmate: 0, 40, 77;
    }

    .light__invisible {
      visibility: unset;
    }

    .light .light__invisible {
      visibility: hidden;
    }

    .dark__invisible {
      visibility: hidden;
    }

    .light .dark__invisible {
      visibility: unset;
    }
  }
}
