@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .theme-light:root {
    --color-background: 239, 241, 245;
    --color-poolink: 61, 128, 245;
  }

  .theme-dark:root {
    --color-background: 15, 23, 42;
  }

  .theme-light .light-only {
    opacity: 1;
  }

  .theme-dark .light-only {
    display: 0;
  }

  .theme-light .dark-only {
    opacity: 0;
  }

  .theme-dark .dark-only {
    opacity: 1;
  }
}

@layer components {
  body {
    @apply w-full min-h-screen text-ctp-text;
  }

  .light-1 {
    @apply ctp-latte;
  }

  .dark-1 {
    @apply ctp-mocha;
  }

  .dark-2 {
    @apply ctp-macchiato;
  }

  .dark-3 {
    @apply ctp-frappe;
  }

  .blinking-bulb {
    animation-name: blinkyellow;
    animation-play-state: running;
    animation-timing-function: steps(2, jump-start);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.5s;
  }

  @keyframes blinkyellow {
    from {
      @apply bg-yellow-400;
    }

    to {
      @apply bg-white;
    }
  }
}
